In [1]:
#import depencencies for analysis
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
#import test dataset
bitcoin_df = pd.read_csv('resources/test_bitcoin.csv')
bitcoin_df.head()

,Unnamed: 0,asset_id,time,open,close,high,low,volume,market_cap,url_shares,...,medium,youtube,social_contributors,social_volume,price_btc,social_volume_global,social_dominance,market_cap_global,market_dominance,percent_change_24h
0,0,1,1579910400,8374.563305,8338.483527,8374.563305,8338.483527,8337279240,1.508163e+11,14526,...,NaN,NaN,26799,66250,1,293688,22.557953,2.286037e+11,65.972805,-1.059191
1,1,1,1579996800,8487.165177,8581.896879,8581.896879,8487.165177,8671821822,1.536224e+11,15653,...,NaN,NaN,24638,67404,1,282643,23.847751,2.372745e+11,64.744604,2.919156
2,2,1,1580083200,8623.902828,8869.566390,8869.566390,8623.902828,11994183173,1.584558e+11,23000,...,NaN,NaN,26381,95172,1,359881,26.445408,2.439090e+11,64.965124,3.352050
3,3,1,1580169600,8961.291095,9351.783109,9351.783109,8961.291095,15305415703,1.639961e+11,21690,...,NaN,NaN,19196,103863,1,367873,28.233385,2.551600e+11,64.271886,5.436756
4,4,1,1580256000,9303.009612,9259.615291,9303.009612,9217.970302,14233710766,1.683224e+11,21249,...,NaN,NaN,39412,92038,1,332949,27.643273,2.532066e+11,66.476298,-0.985564

In [3]:
#check categories
categories=bitcoin_df.columns
categories

Index(['Unnamed: 0', 'asset_id', 'time', 'open', 'close', 'high', 'low',
       'volume', 'market_cap', 'url_shares', 'unique_url_shares',
       'reddit_posts', 'reddit_posts_score', 'reddit_comments',
       'reddit_comments_score', 'tweets', 'tweet_spam', 'tweet_followers',
       'tweet_quotes', 'tweet_retweets', 'tweet_replies', 'tweet_favorites',
       'tweet_sentiment1', 'tweet_sentiment2', 'tweet_sentiment3',
       'tweet_sentiment4', 'tweet_sentiment5', 'tweet_sentiment_impact1',
       'tweet_sentiment_impact2', 'tweet_sentiment_impact3',
       'tweet_sentiment_impact4', 'tweet_sentiment_impact5', 'social_score',
       'average_sentiment', 'sentiment_absolute', 'sentiment_relative',
       'search_average', 'news', 'price_score', 'social_impact_score',
       'correlation_rank', 'galaxy_score', 'volatility', 'alt_rank',
       'alt_rank_30d', 'alt_rank_hour_average', 'market_cap_rank',
       'percent_change_24h_rank', 'volume_24h_rank', 'social_volume_24h_rank',
       'social_score_24h_rank', 'medium', 'youtube', 'social_contributors',
       'social_volume', 'price_btc', 'social_volume_global',
       'social_dominance', 'market_cap_global', 'market_dominance',
       'percent_change_24h'],
      dtype='object')

### Predict closing price based on historic data and social media impact

Categories_to_keep=['open', 'close', 'volume', 'market_cap', 'url_shares', 'unique_url_shares','reddit_posts', 'reddit_posts_score', 
'reddit_comments''tweets', 'tweet_spam', 'tweet_followers', 'tweet_quotes', 'tweet_retweets', 'tweet_replies', 
'tweet_favorites', 'news', 'volatility', 'medium', 'youtube']

In [4]:
#clean df categories
cat_to_drop = ['Unnamed: 0', 'asset_id', 'time','high', 'low','reddit_comments_score','tweet_sentiment1', 'tweet_sentiment2', 'tweet_sentiment3',
       'tweet_sentiment4', 'tweet_sentiment5', 'tweet_sentiment_impact1','tweet_sentiment_impact2', 'tweet_sentiment_impact3',
       'tweet_sentiment_impact4', 'tweet_sentiment_impact5', 'social_score', 'average_sentiment', 'sentiment_absolute', 'sentiment_relative',
       'price_score', 'social_impact_score', 'correlation_rank', 'galaxy_score','alt_rank', 'alt_rank_30d', 'alt_rank_hour_average', 
       'market_cap_rank', 'percent_change_24h_rank', 'volume_24h_rank', 'social_volume_24h_rank', 'social_score_24h_rank', 'social_contributors',
       'social_volume', 'price_btc', 'social_volume_global', 'social_dominance', 'market_cap_global', 'market_dominance', 'percent_change_24h',
              'search_average']
for cat in cat_to_drop:
    bitcoin_df = bitcoin_df.drop(columns=cat, axis=1)

In [5]:
bitcoin_df.head()

,open,close,volume,market_cap,url_shares,unique_url_shares,reddit_posts,reddit_posts_score,reddit_comments,tweets,tweet_spam,tweet_followers,tweet_quotes,tweet_retweets,tweet_replies,tweet_favorites,news,volatility,medium,youtube
0,8374.563305,8338.483527,8337279240,1.508163e+11,14526,9963,462,5677,942,54853,6400,175165469,759,12959,4844,29086,30,0.008372,NaN,NaN
1,8487.165177,8581.896879,8671821822,1.536224e+11,15653,11390,561,7006,1162,54262,7353,207572764,646,11105,4680,31001,29,0.010676,NaN,NaN
2,8623.902828,8869.566390,11994183173,1.584558e+11,23000,14843,688,8885,1439,78174,9030,344847431,3323,20708,9580,62254,28,0.017917,NaN,NaN
3,8961.291095,9351.783109,15305415703,1.639961e+11,21690,14863,718,9229,1376,86869,8479,356378685,1668,21162,9036,55931,37,0.018050,NaN,NaN
4,9303.009612,9259.615291,14233710766,1.683224e+11,21249,14942,595,9574,1352,75116,8025,297749282,1125,16571,7604,44937,33,0.014724,NaN,NaN

In [6]:
#check for missing data
categories=bitcoin_df.columns
for cat in categories:
    nan_num=bitcoin_df[cat].isnull().sum()
    print(cat+': '+str(nan_num))

open: 0
close: 0
volume: 0
market_cap: 23
url_shares: 0
unique_url_shares: 0
reddit_posts: 0
reddit_posts_score: 0
reddit_comments: 0
tweets: 0
tweet_spam: 0
tweet_followers: 0
tweet_quotes: 0
tweet_retweets: 0
tweet_replies: 0
tweet_favorites: 0
news: 0
volatility: 0
medium: 16
youtube: 16

In [7]:
bitcoin_df_clean=bitcoin_df.dropna()
bitcoin_df_clean.head()

,open,close,volume,market_cap,url_shares,unique_url_shares,reddit_posts,reddit_posts_score,reddit_comments,tweets,tweet_spam,tweet_followers,tweet_quotes,tweet_retweets,tweet_replies,tweet_favorites,news,volatility,medium,youtube
16,10046.881867,9879.576003,29163272249,1.786278e+11,20856,14926,916,7252,1401,74895,9421,372255844,1324,20583,7229,61444,1815,0.012702,7.0,179.0
17,10229.628194,10299.172606,29016986864,1.794376e+11,20772,14800,1004,12885,1608,86129,9487,394239704,1840,25145,10797,83731,2298,0.018730,13.0,140.0
18,11179.169427,10383.239777,33557362726,1.883233e+11,20850,14039,922,11468,1756,81679,10686,375652547,1483,21104,8334,67591,1031,0.016934,12.0,11.0
19,10456.345313,10234.235588,39217638136,1.857700e+11,20677,13838,1034,9770,1586,81652,10731,387615687,1593,21695,8776,67075,977,0.007498,13.0,7.0
20,10745.343146,10423.700087,34061780634,1.866644e+11,21642,13725,976,6557,1408,77295,9988,444812180,1299,20107,7486,59677,896,0.006579,8.0,6.0

For multiple coins at the same time use categorical data for their names

In [8]:
#separate inputs and output
target = bitcoin_df_clean['close']
inputs = bitcoin_df_clean.drop(columns=["close"])
y=target.values
X=inputs.values
print(len(inputs.columns))

19

In [10]:
# Split training/test datasets
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X)

# Scale the data
#X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net
number_input_features = len(inputs.columns)
hidden_nodes_layer1 =  38
hidden_nodes_layer2 = 15

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='linear'))

# Compile the Sequential model together and customize metrics
nn.compile(loss='mean_squared_error', optimizer='adam', metrics=['mse'])

In [12]:
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 38)                760
_________________________________________________________________
dense_1 (Dense)              (None, 15)                585
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 16
=================================================================
Total params: 1,361
Trainable params: 1,361
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Train the model
fit_model = nn.fit(X, y, validation_split=.03, epochs=50)

Epoch 1/50
10/10 [==============================] - 1s 81ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 2/50
10/10 [==============================] - 0s 12ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 3/50
10/10 [==============================] - 0s 12ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 4/50
10/10 [==============================] - 0s 13ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 5/50
10/10 [==============================] - 0s 13ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 6/50
10/10 [==============================] - 0s 17ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 7/50
10/10 [==============================] - 0s 27ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 8/50
10/10 [==============================] - 0s 15ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 9/50
10/10 [==============================] - 0s 16ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 10/50
10/10 [==============================] - 0s 19ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 11/50
10/10 [==============================] - 0s 21ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 12/50
10/10 [==============================] - 0s 22ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 13/50
10/10 [==============================] - 0s 21ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 14/50
10/10 [==============================] - 0s 19ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 15/50
10/10 [==============================] - 0s 19ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 16/50
10/10 [==============================] - 0s 23ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 17/50
10/10 [==============================] - 0s 23ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 18/50
10/10 [==============================] - 0s 18ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 19/50
10/10 [==============================] - 0s 24ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 20/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 21/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 22/50
10/10 [==============================] - 0s 30ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 23/50
10/10 [==============================] - 0s 19ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 24/50
10/10 [==============================] - 0s 54ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 25/50
10/10 [==============================] - 0s 28ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 26/50
10/10 [==============================] - 0s 17ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 27/50
10/10 [==============================] - 0s 17ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 28/50
10/10 [==============================] - 0s 18ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 29/50
10/10 [==============================] - 0s 21ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 30/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 31/50
10/10 [==============================] - 0s 26ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 32/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 33/50
10/10 [==============================] - 0s 22ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 34/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 35/50
10/10 [==============================] - 0s 26ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 36/50
10/10 [==============================] - 0s 25ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 37/50
10/10 [==============================] - 0s 19ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 38/50
10/10 [==============================] - 0s 19ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 39/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 40/50
10/10 [==============================] - 0s 23ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 41/50
10/10 [==============================] - 0s 16ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 42/50
10/10 [==============================] - 0s 17ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 43/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 44/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 45/50
10/10 [==============================] - 0s 22ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 46/50
10/10 [==============================] - 0s 25ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 47/50
10/10 [==============================] - 0s 20ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 48/50
10/10 [==============================] - 0s 19ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 49/50
10/10 [==============================] - 0s 17ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan
Epoch 50/50
10/10 [==============================] - 0s 26ms/step - loss: nan - mse: nan - val_loss: nan - val_mse: nan