In [1]:
#import depencencies for analysis
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf
from sqlalchemy import create_engine
import psycopg2

In [2]:
#top 20 coins based on market share
coin_list = [
'BTC','ETH','USDT','DOT','XRP',
'ADA','LINK','LTC','BCH','XLM',
'BNB','DOGE','USDC','HEX','UNI',
'WBTC','AAVE','BSV','EOS','CEL'
]

In [3]:
#input table to analyze
print('Enter coin to analyze:')
coin = input()
coin=coin.upper()
coin=coin.replace(" ", "")
while coin not in coin_list:
    print('Enter valid coin:')
    coin = input()
    coin=coin.upper()
    coin=coin.replace(" ", "")
table_name=coin+'_data'

Enter coin to analyze:
btc

In [4]:
# from config import db_password
from config2 import db_password
db_string = f"postgres://postgres:{db_password}@localhost/cryptocurrency_db"
engine = create_engine(db_string)

In [5]:
#import test dataset
coin_df = pd.read_sql_table(table_name, engine)
coin_df.head()

,index,asset_id,time,open,close,volume,market_cap,url_shares,unique_url_shares,reddit_posts,...,tweet_spam,tweet_followers,tweet_quotes,tweet_retweets,tweet_replies,tweet_favorites,news,volatility,youtube,symbol
0,0,1,2019-02-12,3611.693839,3600.970066,2053110186,6.314211e+10,NaN,NaN,160.0,...,7248.0,NaN,NaN,NaN,NaN,NaN,231.0,0.074415,NaN,BTC
1,1,1,2019-02-13,3601.910965,3591.261704,2077769823,6.297834e+10,NaN,NaN,183.0,...,7592.0,NaN,NaN,NaN,NaN,NaN,205.0,0.010465,NaN,BTC
2,2,1,2019-02-14,3570.736593,3563.909898,1776733857,6.250519e+10,NaN,NaN,155.0,...,7547.0,NaN,NaN,NaN,NaN,NaN,206.0,0.024862,NaN,BTC
3,3,1,2019-02-15,3576.285166,3577.338355,1857684401,6.274620e+10,NaN,NaN,185.0,...,7363.0,NaN,NaN,NaN,NaN,NaN,223.0,0.007701,NaN,BTC
4,4,1,2019-02-16,3582.784051,3588.453389,1820395005,6.294802e+10,NaN,NaN,240.0,...,7023.0,NaN,NaN,NaN,NaN,NaN,131.0,NaN,NaN,BTC

In [16]:
categories=list(coin_df.columns)

#check for null data
categories=coin_df.columns
for cat in categories:
    nan_num=coin_df[cat].isnull().sum()
    print(cat+': '+str(nan_num))

index: 0
asset_id: 0
time: 0
open: 0
close: 0
volume: 0
market_cap: 64
url_shares: 197
unique_url_shares: 197
reddit_posts: 28
reddit_posts_score: 170
reddit_comments: 1
tweets: 27
tweet_spam: 27
tweet_followers: 209
tweet_quotes: 209
tweet_retweets: 209
tweet_replies: 209
tweet_favorites: 209
news: 22
volatility: 36
youtube: 363
symbol: 0

In [18]:
coin_df_clean=coin_df.fillna(0)
#check for null data
categories=coin_df_clean.columns
for cat in categories:
    nan_num=coin_df_clean[cat].isnull().sum()
    print(cat+': '+str(nan_num))

index: 0
asset_id: 0
time: 0
open: 0
close: 0
volume: 0
market_cap: 0
url_shares: 0
unique_url_shares: 0
reddit_posts: 0
reddit_posts_score: 0
reddit_comments: 0
tweets: 0
tweet_spam: 0
tweet_followers: 0
tweet_quotes: 0
tweet_retweets: 0
tweet_replies: 0
tweet_favorites: 0
news: 0
volatility: 0
youtube: 0
symbol: 0

In [21]:
#separate inputs and output
target = coin_df_clean['close']
inputs = coin_df_clean.drop(columns=["close", "index", "asset_id", "time", "open", "symbol"])
y=target#.values
X=inputs#.values
print(len(inputs.columns))

17

In [22]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Random forest

In [26]:
# Create a random forest classifier.
rf_model = RandomForestRegressor(n_estimators=128, random_state=78)
   
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
#print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

In [27]:
print(rf_model.score(X_test_scaled, y_test))

0.9482029616819206

In [47]:
results=pd.DataFrame(list(zip(y_pred,y_test)), columns=['Predicted', 'Actual'])
results

        Predicted        Actual
0     5174.444434   5095.421269
1     5086.290662   5083.440698
2    10272.659655  10364.142113
3    15085.797992  15336.218368
4     3949.592849   3956.956396
..            ...           ...
175   7119.552128   7103.752795
176  10703.551590  10961.043562
177   8245.537534   8241.078763
178   5237.937524   4897.268202
179   3915.805168   3909.147955

[180 rows x 2 columns]